.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 5rem;
  }
  
  .title,
  .description {
    text-align: center;
  }

  .titleH2{
    font-size: 2.5rem;
    color: #00e5ff;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .badget{
    position: relative;
    top: 30px;
    right: -150px;
    color: #ff00ae;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: .9rem;
    padding: 5px;
  }
  .hinweisePink{
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
  }
  .span{
    color: #ff00ae;
  }
  .tipp{
    color: #00e5ff;
    text-align: center;
  }
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: .7rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1920px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    overflow: auto;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    min-width: 400px;
    max-width: 400px;
    min-height: 900px;
    max-height: 900px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #ffffff;
    border-color: #ff00ae;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    padding: 20px 0 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .zuruck{
    background-color: #ff00ae;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #00e5ff;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
  